{% extends 'billing/base.html' %}
{% load i18n parse_date sizeformat %}
{% block title %}Billing{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="Billing: "|add:"<small>This page shows your cloud bill.</small>" %}
{% endblock page_header %}


{% block billing_main %}

<form action="" method="get" id="date_form">
  <!-- {% csrf_token %} -->
  <h3>{% trans "Select a month to query its bill" %}: </h3>
  <div class="form-row">
      Start: {{ dateform.date_start }}
      End: {{ dateform.date_end }}
    <input class="btn small" type="submit"/>
  </div>
</form>

    <div class='table_title wide'>
      <a class="csv_download_link pull-right" href="{{ csv_link }}">{% trans "Download CSV" %}</a>

      <h3>Usage Summary by Tenant</h3>
    </div>

    <table class="zebra-striped">
      <tr id='headings'>
        <th>{% trans "Id" %}</th>
        <th>{% trans "Total cost" %}</th>
        {% for rtype_name in rtype_names %}
        <th>{% trans "Cost for" %} {{ rtype_name }}</th>
        {% endfor %}
      </tr>
      <tbody class='main'>
        {% for account in bill %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url horizon:billing:for_tenant:index_for_tenant account.name %}">{{ account.name }}</a></td>
            <td>{{ account.cost|floatformat:2 }}</td>
            {% for rtype in account.rtypes %}
                <td>{{ rtype|floatformat:2 }}</td>
            {% endfor %}
        </tr>
        {% empty %}
          <tr>
              <td colspan=8>{% trans "No tenants." %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
