{% extends 'billing/base.html' %}
{% load i18n parse_date sizeformat %}
{% block title %}Billing{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="Billing: "|add:"<small>This page shows your cloud bill.</small>" %}
{% endblock page_header %}


{% block billing_main %}

<form action="" method="get" id="date_form">
  <!-- {% csrf_token %} -->
  <h3>{% trans "Select a month to query its bill" %}: </h3>
  <div class="form-row">
      Start: {{ dateform.date_start }}
      End: {{ dateform.date_end }}
    <input class="btn small" type="submit"/>
  </div>
</form>

    <div class='table_title wide'>
      <a class="csv_download_link pull-right" href="{{ csv_link }}">{% trans "Download CSV" %}</a>

      <h3>Tenant {{ bill.name }} Usage Summary (total: {{bill.cost|floatformat:2}})</h3>
    </div>

    <table class="zebra-striped">
      <tr id='headings'>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Cost" %}</th>
        <th>{% trans "Life time, days" %}</th>
        <th>{% trans "Created at" %}</th>
        <th>{% trans "Destroyed at" %}</th>
      </tr>
      <tbody class='main'>
        {% for obj in bill.resources %}
          {% if obj.destroyed_at %}
            <tr class="terminated">
          {% else %}
            <tr class="{% cycle 'odd' 'even' %}">
          {% endif %}
          <td>
              {% if obj.depth %} <span style="display: inline-block; width: {{obj.depth}}px;">&nbsp;</span> {% endif %}
              {{ obj.rtype }}
          </td>
          <td>
            {% if obj.name %}
                {% if not obj.destroyed_at and obj.rtype == "nova/instance" %}
                  <a href="{% url horizon:nova:instances_and_volumes:instances:detail obj.name %}">{{ obj.name }}</a>
                {% else %}
                  {{ obj.name }}
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
            </td>
            <td>{{ obj.cost|floatformat:2 }}</td>
            <td>{{ obj.lifetime_day|floatformat:1 }}</td>
            <td>{{ obj.created_at }}</td>
            <td>
                {% if obj.destroyed_at %} {{ obj.destroyed_at }}
                {% else %} {% trans "alive" %}
                {% endif %}
            </td>
        </tr>
        {% empty %}
          <tr>
              <td colspan=6>{% trans "No resources." %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
